In [1]:
# # get type and instance
# a=123 # get type and instance
# b="123"
# c = 123.0

In [5]:
a = 123
print(isinstance(a, int))

True

In [7]:
b="123"
print(isinstance(b, str))

True

In [9]:
c=123.0
print(isinstance(c, float))

True

In [10]:
e = int(b)
print(type(e))

<class 'int'>

In [12]:
a ="demo"
b = int(a)

ValueError: invalid literal for int() with base 10: 'demo'

In [13]:
###
name = "arun"
age = 32
location ="mumbai"

In [14]:
name1 = "kumar"
age1 = 25
location ="delhi"

In [15]:
a = [["arun","32", "mumbai"],["kumar", "25", "delhi"]]

In [16]:
#type, isinstance, min, max, sorted

In [22]:
print(isinstance(a, list))
print(min(a))
print(max(a))
print(sorted(a))

True
['arun', '32', 'mumbai']
['kumar', '25', 'delhi']
[['arun', '32', 'mumbai'], ['kumar', '25', 'delhi']]

In [23]:
print(type(a))

<class 'list'>

In [24]:
print(a[0])

['arun', '32', 'mumbai']

In [25]:
a = ['arun', '32', 'mumbai']
print(a[0])

arun

In [26]:
print(sorted(a))

['32', 'arun', 'mumbai']

In [28]:
a = ['arun', 32, 'mumbai']
print(sorted(a))

TypeError: '<' not supported between instances of 'int' and 'str'

In [29]:
print(a[-1])

mumbai

In [30]:
print(a[::-1])

['mumbai', 32, 'arun']

In [31]:
a = [1,2,3,4,5, "hello", 10]

In [32]:
print(a)

[1, 2, 3, 4, 5, 'hello', 10]

In [68]:
a.append(30)
print(a)

['arun', 'kumar', 'welcome', 'kishore', 30]

In [67]:
a.insert(2, "welcome")
print(a)

['arun', 'kumar', 'welcome', 'kishore']

In [38]:
a.remove("hi")
print(a)

[1, 2, 'welcome', 3, 4, 5, 'hello', 10, 30]

In [40]:
del a[0]
print(a)

['welcome', 3, 4, 5, 'hello', 10, 30]

In [41]:
a.insert(0,"Hello")
print(a)

['Hello', 'welcome', 3, 4, 5, 'hello', 10, 30]

In [43]:
b= a.pop()
print(a)
print(b)

['Hello', 'welcome', 3, 4, 5, 'hello']
10

In [44]:
print(a)
b = a.pop(3)
print(a)
print(b)

['Hello', 'welcome', 3, 4, 5, 'hello']
['Hello', 'welcome', 3, 5, 'hello']
4

# Assignment

a = ["arun", "kumar" , "kishore"]

#get first list first word - a

#get first list last word - n

#get last last first word - k

#get last list last word  - e

xxxxxxxxxxxx

#also get list as input from user and check the data types

In [54]:
a =["arun", "kumar", "kishore"]
print(a[0][0])
print(a[0][-1])
print(a[-1][0])
print(a[-1][-1])

a
n
k
e

In [66]:
user_input1 = input("Enter the elements with spaces: ").split()

print(user_input1)
print(type(user_input1))
print(type(user_input1[0]))
print(type(user_input1[1]))
print(type(user_input1[2]))
print(type(user_input1[3]))
print(type(user_input1[4]))

Enter the elements with spaces: 45 56 78.89 Hello Python
['45', '56', '78.89', 'Hello', 'Python']
<class 'list'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>